.registration {
    height: 100vh;
}

.registrationPaper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 350px;
    margin:10% auto 0;
}

@media all and (max-width: 730px) {
    .registrationPaper {
        height: 100%;

    }
}

.registrationPaperContainer {
    align-items: center;
    padding:0 4%;
    align-self: center;
}


.registerH1 {
   text-align: center;

    font-size: 26px;
}


.registerFooter {
    color: gray;
    margin-top: 31px;
}

.registerImg {
    width: 180px;
}

.registerName {
    font-weight: 400;
    opacity: 0.5;
}

.photo {
    opacity: 0.5;
    margin-left: 5px;
    align-self: center;
}
